.CustomerCases {
  min-height: 400px;
}

.CustomerCases h2 {
  text-align: center;
}

.CasesContainer {
  display: flex;
  overflow-x: scroll;
}

.Cases {
  position: relative;
  z-index: 0;
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  background-size: contain;
  margin: 20px;
  overflow: hidden;
  display: flex;
}

.Cases > h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  color: var(--white);
  margin: 0;
}

.overlay {
  z-index: 10;
  width: 300px;
  height: 300px;
  transform: skew(-15deg) translateX(-100%);
  background: var(--blue);
  position: absolute;
  overflow: hidden;
  color: var(--white);
}

@keyframes out {
  from {
    transform: skew(-15deg) translateX(-100%);
  }
  to {
    transform: skew(-15deg) translateX(-50%);
  }
}

@keyframes in {
  from {
    transform: skew(-15deg) translateX(-50%);
  }
  to {
    transform: skew(-15deg) translateX(-100%);
  }
}

.Cases:hover > .overlay {
  animation-name: out;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

.Cases:not(:hover) > .overlay {
  animation-name: in;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.content {
  margin-left: 100px;
  transform: skew(15deg);
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 1100px) {
  .CustomerCases {
    min-height: 800px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .CasesContainer {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }
}
