.footer {
  background-color: var(--blue);
  color: var(--white);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  color: var(--white);
  padding-bottom: 50px;
  text-align: center;
}

.footerInfo h1 {
  color: var(--white);
}
.logo img {
  max-width: 100px;
}
