:root {
  --orange: #ff9101;
  --blue: #004658;
  --white: #f2f2f2;
  --black: #252525;
  --rounded1: 16px;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
/* Hide the default scrollbar */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Create a new container for the floating scrollbar */
.floating-scrollbar {
  position: fixed; /* make it fixed so it stays in the same position */
  right: 0; /* position it on the right side */
  top: 0; /* position it on the top */
  width: 8px; /* set the width */
  height: 100%; /* make it the same height as the content */
  overflow-y: scroll; /* enable scrolling */
}

/* Style the floating scrollbar */
.floating-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* set the color */
  border-radius: 4px; /* set the border radius */
}

h1,
h2,
h3 {
  font-family: "Segoe UI", sans-serif;
  font-variant: small-caps;
  text-transform: capitalize;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000000;
}

h1,
h2,
h3 {
  font-family: "Segoe UI", sans-serif;
  font-variant: small-caps;
  text-transform: none;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
}

a {
  color: white;
}
