:root {
  --orange: #ff9101;
  --blue: #004658;
  --white: #f2f2f2;
  --black: #252525;
  --rounded1: 16px;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Segoe UI", sans-serif;
  font-variant: small-caps;
  text-transform: capitalize;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000000;
}

h1,
h2,
h3 {
  font-family: "Segoe UI", sans-serif;
  font-variant: small-caps;
  text-transform: none;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
}

a {
  color: white;
}
