/* Default state of the links when menu is closed */
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* State of the links when menu is open */
.links.open {
  display: block;
}
.menu-button  {
  display: none;
}

/* Media query for switching to burger menu */
@media (max-width: 500px) {
  .menu-button {
  }
}
