.blue,
.orange,
.white {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 10px;
  margin: 50px 0;
  text-align: center;
  display: flex;
}

.blue h1,
.orange h1,
.white h1 {
  font-size: 30px;
  margin: 10px 50px;
}

.orange {
  background-color: var(--orange);
}

.white {
  background-color: var(--white);
  color: var(--blue);
}
/* din position er ikke korrekt, den vil sende det op til toppen af skærmen når du er scrolled op */
.ModalBody {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98;
  height: 50%;
  width: 50%;
  margin: auto;
  border-radius: 4px;
  background-color: white;
}

.ModalContent {
  position: relative;
  z-index: 99;
  max-width: 20rem;
  max-height: 100%;
}
