.Footer {
  background-color: var(--blue);
  color: var(--white);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Info {
  color: var(--white);
  text-align: center;
}

.FooterInfo {
  padding-bottom: 50px;
}

.FooterInfo h1 {
  color: var(--white);
}
.Logo img {
  max-width: 100px;
}
